* {
  box-sizing: border-box;

  
}

header{
  
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #777;
  text-align: center;
  color: white;
}

body {
  background-image: url('Media/GrayGradient2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bio{
	text-align:center; 
	margin-top:50px; 
	padding: 50px; 
	height:auto; 
	background-color:gray; 
	border-radius: 10px;
	font-family: Sentinel SSm A,Sentinel SSm B,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	font-style: italic;
	font-size: 20px;
}


.picturecontainer{
	float: left;
	margin: 0;
	padding: 30px;
	height: 460px;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.picture{
	position: absolute;
	margin: auto;
	display: block;
	z-index: 1;


	max-width: 300px;
	max-height: 400px; 
	object-fit: contain;
	border-radius: 10px;
	
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	
}

.description{
	float: right;
	margin: 0;
	padding: 30px;
	height: 460px;
	width: 60%;
	background: tan;
}

.container{
	margin: auto;
	margin-bottom: 50px;
	max-width: 1300px;
	height: 460px;
}



.box {
	background: black;
	display: inline-block;
	height: 2px;
	margin: 1px;
	width: 2px;
  
	animation-name: Pulse;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 1.5s;
	animation-direction: alternate;
}

@keyframes Pulse{
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(2);
	}
}

.box.box3 {
  animation-delay: 1s;
}
.box.box2 {
  animation-delay: .5s;
}
.box.box1 {
  animation-delay: 0s;
}




.picture.fade {
	animation-name: Fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 20s;
	animation-direction: normal;
}
@keyframes Fade {
	0% {
	  opacity:0;
	}
	10% {
	opacity:1;
	}
	20% {
	opacity:1;
	}
	30% {
	opacity:0;
	}
	100% {
	opacity:0;
	}
}

.picture.fade.order5 {
  animation-delay: 16s;
  opacity:0;
}
.picture.fade.order4 {
  animation-delay: 12s;
  opacity:0;
}
.picture.fade.order3 {
  animation-delay: 8s;
  opacity:0;
}
.picture.fade.order2 {
  animation-delay: 4s;
  opacity:0;
}
.picture.fade.order1 {
  animation-delay: 0s;
  opacity:1;
}





